[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = https://github.com/Fl4t/Dotvim.git
  ignore = dirty
[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = https://github.com/Fl4t/prezto.git
