penta/pentadactyl.symlink/info/

# weechat
weechat/weechat.symlink/irc.conf
weechat/weechat.symlink/weechat.log
weechat/weechat.symlink/rmodifier.conf.weechattmp
weechat/weechat.symlink/sec.conf
weechat/weechat.symlink/logs/
weechat/weechat.symlink/script/
weechat/weechat.symlink/wg.conf
weechat/weechat.symlink/xfer.conf
weechat/weechat.symlink/aspell.conf
weechat/weechat.symlink/alias.conf
weechat/weechat.symlink/logger.conf
weechat/weechat.symlink/charset.conf
weechat/weechat.symlink/relay.conf
weechat/weechat.symlink/rmodifier.conf
weechat/weechat.symlink/script.conf
